<form [formGroup]="createTenderForm" novalidate (ngSubmit)="onSubmit()" class="form-style">
  <mat-card class="create-tender-card">
    <mat-card-header>
      <mat-card-title>
        <label>{{ 'CREATE-FORM.FORM_TITLE' | translate }}</label>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <!-- Title -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput required
                   [placeholder]="'CREATE-FORM.TENDER_TITLE' | translate"
                   formControlName="title">

            <mat-error *ngIf="createTenderForm.controls['title'].hasError('required')">
              {{ 'CREATE-FORM.ERROR.TITLE' | translate }}
            </mat-error>

            <mat-error *ngIf="createTenderForm.controls['title'].hasError('minlength')">
              {{ ('CREATE-FORM.ERROR.MIN_LENGTH' | translate) +
            ' (' + createTenderForm.get('title').errors.minlength['actualLength'] + '/' +
            createTenderForm.get('title').errors.minlength['requiredLength'] + ')' }}
            </mat-error>

            <mat-error *ngIf="createTenderForm.controls['title'].hasError('maxlength')">
              {{ ('CREATE-FORM.ERROR.MAX_LENGTH' | translate) +
            ' (' + createTenderForm.get('title').errors.maxlength['actualLength'] + '/' +
            createTenderForm.get('title').errors.maxlength['requiredLength'] + ')' }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <!-- Description -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput required
                      [placeholder]="'CREATE-FORM.TENDER_DESCRIPTION' | translate"
                      formControlName="description"></textarea>
            <mat-error *ngIf="createTenderForm.controls['description'].hasError('required')">
              {{ 'CREATE-FORM.ERROR.DESCRIPTION' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <!-- Currency -->
      <div class="row currency">
        <div class="col">
          <mat-form-field appearance="legacy" class="full-width">
            <mat-label>
              {{ 'CREATE-FORM.CURRENCY' | translate }}
            </mat-label>
            <mat-select formControlName="currency" required>
              <mat-option *ngFor="let currency of currencies" [value]="currency">
                {{ currency.code + ' (' + getLocalCurrencyName(currency) + ')' }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createTenderForm.controls['currency'].hasError('required')">
              {{ 'CREATE-FORM.ERROR.CURRENCY' | translate }}
            </mat-error>
            <mat-hint *ngIf="createTenderForm.controls['currency'].value?.code !== currencies[0].code">
              {{ 'CREATE-FORM.HINT.CURRENCY' | translate }}
            </mat-hint>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <!-- Expected Value -->
        <div class="col">
          <mat-form-field class="full-width">
            <span matPrefix>{{ createTenderForm.controls['currency'].value?.code }} &nbsp;</span>
            <input matInput
                   type="number"
                   [min]="MIN_MONEY_EXPECTED_VALUE"
                   [max]="MAX_MONEY_EXPECTED_VALUE"
                   max="3"
                   required
                   (change)="minMaxMoneySetError(createTenderForm.value['expectedValue'])"
                   [placeholder]="'CREATE-FORM.EXPECTED_MONEY_VALUE' | translate"
                   formControlName="expectedValue">

            <mat-error *ngIf="createTenderForm.controls['expectedValue'].hasError('required')">
              {{ 'CREATE-FORM.ERROR.EXPECTED_VALUE' | translate }}
            </mat-error>

            <mat-error *ngIf="createTenderForm.controls['expectedValue'].hasError('incorrectMinMoneyValue')">
              {{ 'CREATE-FORM.ERROR.INCORRECT_MIN_MONEY_VALUE' | translate }}
            </mat-error>

            <mat-error *ngIf="createTenderForm.controls['expectedValue'].hasError('incorrectMaxMoneyValue')">
              {{ 'CREATE-FORM.ERROR.INCORRECT_MAX_MONEY_VALUE' | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Step Value -->
        <div class="col">
          <mat-form-field class="full-width">
            <span matPrefix>{{ createTenderForm.controls['currency'].value?.code }} &nbsp;</span>
            <input matInput
                   type="number"
                   required
                   [placeholder]="'CREATE-FORM.STEP_VALUE' | translate"
                   formControlName="stepValue">

            <mat-error *ngIf="createTenderForm.controls['stepValue'].hasError('required')">
              {{ 'CREATE-FORM.ERROR.STEP_VALUE' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <!-- quantity of goods -->
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput
                   type="number"
                   required
                   [placeholder]="'CREATE-FORM.QUANTITY' | translate"
                   formControlName="quantity">
            <mat-error *ngIf="createTenderForm.controls['quantity'].hasError('required')">
              {{ 'CREATE-FORM.ERROR.QUANTITY' | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- in what units the goods are measured -->
        <div class="col">
          <mat-form-field appearance="legacy" class="full-width">
            <mat-label>
              {{ 'CREATE-FORM.UNIT' | translate }}
            </mat-label>
            <mat-select formControlName="unit" required>
              <mat-option *ngFor="let unit of units" [value]="unit">
                {{ getLocalUnitCode(unit) + ' (' + getLocalUnitFullName(unit) + ')' }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createTenderForm.controls['unit'].hasError('required')">
              {{ 'CREATE-FORM.ERROR.UNIT' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <!-- Show the best bet or not -->
      <div class="row">
        <div class="col">
          <mat-slide-toggle [color]="color" formControlName="isShowBestBet">
            {{ 'CREATE-FORM.IS_SHOW_BEST_BET' | translate }}
          </mat-slide-toggle>
        </div>
      </div>

    </mat-card-content>

    <mat-card-actions align="right">
      <button mat-raised-button type="submit" [color]="color">
        {{ 'CREATE-FORM.SUBMIT_BUTTON' | translate }}
      </button>
    </mat-card-actions>

  </mat-card>
</form>


<div *ngIf="createTenderForm" style="float: right;">
  <pre>{{ createTenderForm.value | json }}</pre>
</div>
