<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form [formGroup]="createTenderForm" novalidate (ngSubmit)="onSubmit()" class="form-style">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <label>{{ 'CREATE-FORM.FORM_TITLE' | translate }}</label>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div class="row">
              <!-- Date Start -->
              <div class="col">
                <mat-form-field class="full-width" appearance="outline" [color]="currentThemePalette">
                  <mat-label>
                    {{ 'CREATE-FORM.DATE_START' | translate }}
                  </mat-label>
                  <input type="datetime-local"
                         matInput required
                         [matTooltip]="'CREATE-FORM.DATE_PICKER_HINT' | translate"
                         formControlName="dateStart">
                </mat-form-field>
              </div>

              <!-- Date End -->
              <div class="col">
                <mat-form-field class="full-width" appearance="outline" [color]="currentThemePalette">
                  <mat-label>
                    {{ 'CREATE-FORM.DATE_END' | translate }}
                  </mat-label>
                  <input type="datetime-local"
                         matInput required
                         [matTooltip]="'CREATE-FORM.DATE_PICKER_HINT' | translate"
                         formControlName="dateEnd">
                </mat-form-field>
              </div>
            </div>

            <!-- Title -->
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width" appearance="standard" [color]="currentThemePalette">
                  <mat-label>{{ 'CREATE-FORM.TENDER_TITLE' | translate }}</mat-label>
                  <input matInput required formControlName="title">

                  <mat-error *ngIf="createTenderForm.controls['title'].hasError('required')">
                    {{ 'CREATE-FORM.ERROR.TITLE' | translate }}
                  </mat-error>

                  <mat-error *ngIf="createTenderForm.controls['title'].hasError('minlength')">
                    {{ ('CREATE-FORM.ERROR.MIN_LENGTH_TITLE' | translate) +
                  ' (' + createTenderForm.get('title')?.errors?.minlength['actualLength'] + '/' +
                  createTenderForm.get('title')?.errors?.minlength['requiredLength'] + ')' }}
                  </mat-error>

                  <mat-error *ngIf="createTenderForm.controls['title'].hasError('maxlength')">
                    {{ ('CREATE-FORM.ERROR.MAX_LENGTH_TITLE' | translate) +
                  ' (' + createTenderForm.get('title')?.errors?.maxlength['actualLength'] + '/' +
                  createTenderForm.get('title')?.errors?.maxlength['requiredLength'] + ')' }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>


            <!-- Description -->
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width" appearance="standard" [color]="currentThemePalette">
                  <mat-label>{{ 'CREATE-FORM.TENDER_DESCRIPTION' | translate }}</mat-label>
                  <textarea matInput required rows="5" formControlName="description"></textarea>

                  <mat-error *ngIf="createTenderForm.controls['description'].hasError('required')">
                    {{ 'CREATE-FORM.ERROR.DESCRIPTION' | translate }}
                  </mat-error>

                  <mat-error *ngIf="createTenderForm.controls['description'].hasError('minlength')">
                    {{ ('CREATE-FORM.ERROR.MIN_LENGTH_DESCRIPTION' | translate) +
                  ' (' + createTenderForm.get('description')?.errors?.minlength['actualLength'] + '/' +
                  createTenderForm.get('description')?.errors?.minlength['requiredLength'] + ')' }}
                  </mat-error>

                  <mat-error *ngIf="createTenderForm.controls['description'].hasError('maxlength')">
                    {{ ('CREATE-FORM.ERROR.MAX_LENGTH_DESCRIPTION' | translate) +
                  ' (' + createTenderForm.get('description')?.errors?.maxlength['actualLength'] + '/' +
                  createTenderForm.get('description')?.errors?.maxlength['requiredLength'] + ')' }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>


            <!-- Currency -->
            <div class="row currency">
              <div class="col">
                <mat-form-field class="full-width" appearance="outline" [color]="currentThemePalette">
                  <mat-label>
                    {{ 'CREATE-FORM.CURRENCY' | translate }}
                  </mat-label>
                  <mat-select formControlName="currency" required>
                    <mat-option *ngFor="let currency of currencies" [value]="currency">
                      {{ currency.code + ' (' + getLocalCurrencyName(currency) + ')' }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="createTenderForm.controls['currency'].hasError('required')">
                    {{ 'CREATE-FORM.ERROR.CURRENCY' | translate }}
                  </mat-error>
                  <mat-hint *ngIf="createTenderForm.controls['currency'].value?.code !== currencies[0].code">
                    {{ 'CREATE-FORM.HINT.CURRENCY' | translate }}
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>


            <div class="row">
              <!-- Expected Value -->
              <div class="col">
                <mat-form-field class="full-width" appearance="standard" [color]="currentThemePalette">
                  <div matPrefix>
                    {{ createTenderForm.controls['currency'].value?.code }}
                  </div>
                  <mat-label>{{ 'CREATE-FORM.EXPECTED_MONEY_VALUE' | translate }}</mat-label>
                  <input matInput
                         type="number"
                         required
                         [min]="NEW_TENDER_DEFAULT_VALUE.MIN_EXPECTED_VALUE"
                         [max]="NEW_TENDER_DEFAULT_VALUE.MAX_EXPECTED_VALUE"
                         (input)="minMaxMoneySetError('expectedValue')"
                         formControlName="expectedValue">

                  <mat-error *ngIf="createTenderForm.controls['expectedValue'].hasError('required')">
                    {{ 'CREATE-FORM.ERROR.EXPECTED_VALUE' | translate }}
                  </mat-error>

                  <mat-error *ngIf="createTenderForm.controls['expectedValue'].hasError('incorrectMinValue')">
                    {{ 'CREATE-FORM.ERROR.INCORRECT_MIN_MONEY_VALUE' | translate }}
                  </mat-error>

                  <mat-error *ngIf="createTenderForm.controls['expectedValue'].hasError('incorrectMaxValue')">
                    {{ 'CREATE-FORM.ERROR.INCORRECT_MAX_MONEY_VALUE' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- Step Value -->
              <div class="col">
                <mat-form-field class="full-width" appearance="standard" [color]="currentThemePalette">
                  <div matPrefix>
                    {{ createTenderForm.controls['currency'].value?.code }}
                  </div>
                  <mat-label>{{ 'CREATE-FORM.STEP_VALUE' | translate }}</mat-label>
                  <input matInput
                         type="number"
                         required
                         [min]="NEW_TENDER_DEFAULT_VALUE.MIN_STEP_VALUE"
                         [max]="NEW_TENDER_DEFAULT_VALUE.MAX_STEP_VALUE"
                         (input)="minMaxMoneySetError('stepValue')"
                         formControlName="stepValue">

                  <mat-error *ngIf="createTenderForm.controls['stepValue'].hasError('required')">
                    {{ 'CREATE-FORM.ERROR.STEP_VALUE' | translate }}
                  </mat-error>

                  <mat-error *ngIf="createTenderForm.controls['stepValue'].hasError('incorrectMinValue')">
                    {{ 'CREATE-FORM.ERROR.INCORRECT_MIN_MONEY_VALUE' | translate }}
                  </mat-error>

                  <mat-error *ngIf="createTenderForm.controls['stepValue'].hasError('incorrectMaxValue')">
                    {{ 'CREATE-FORM.ERROR.INCORRECT_MAX_MONEY_VALUE' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>


            <div class="row">
              <!-- Quantity of goods -->
              <div class="col">
                <mat-form-field class="full-width" appearance="standard" [color]="currentThemePalette">
                  <mat-label>{{ 'CREATE-FORM.QUANTITY' | translate }}</mat-label>
                  <input matInput
                         type="number"
                         required
                         [min]="NEW_TENDER_DEFAULT_VALUE.MIN_QUANTITY"
                         [max]="NEW_TENDER_DEFAULT_VALUE.MAX_QUANTITY"
                         (input)="minMaxMoneySetError('quantity')"
                         formControlName="quantity">
                  <span matSuffix>
              {{ getLocalUnitCode(createTenderForm.controls['unit']?.value) }}
            </span>

                  <mat-error *ngIf="createTenderForm.controls['quantity'].hasError('required')">
                    {{ 'CREATE-FORM.ERROR.QUANTITY' | translate }}
                  </mat-error>

                  <mat-error *ngIf="createTenderForm.controls['quantity'].hasError('incorrectMinValue')">
                    {{ 'CREATE-FORM.ERROR.INCORRECT_MIN_QUANTITY' | translate }}
                  </mat-error>

                  <mat-error *ngIf="createTenderForm.controls['quantity'].hasError('incorrectMaxValue')">
                    {{ 'CREATE-FORM.ERROR.INCORRECT_MAX_QUANTITY' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- in what Units the goods are measured -->
              <div class="col">
                <mat-form-field class="full-width" appearance="outline" [color]="currentThemePalette">
                  <mat-label>
                    {{ 'CREATE-FORM.UNIT' | translate }}
                  </mat-label>
                  <mat-select formControlName="unit" required>
                    <mat-option *ngFor="let unit of units" [value]="unit">
                      {{ getLocalUnitCode(unit) + ' (' + getLocalUnitFullName(unit) + ')' }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="createTenderForm.controls['unit'].hasError('required')">
                    {{ 'CREATE-FORM.ERROR.UNIT' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>


            <!-- Show the best bet or not -->
            <div class="row">
              <div class="col">
                <mat-slide-toggle [color]="currentThemePalette" formControlName="isShowBestBet">
                  {{ 'CREATE-FORM.IS_SHOW_BEST_BET' | translate }}
                </mat-slide-toggle>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions align="end">
            <!-- submit button -->
            <button mat-raised-button
                    type="submit"
                    [disabled]="createTenderForm.invalid"
                    [title]="createTenderForm.invalid ? ('CREATE-FORM.ERROR.SUBMIT_BUTTON_DISABLED' | translate) : ''"
                    [color]="currentThemePalette">
              {{ 'CREATE-FORM.SUBMIT_BUTTON' | translate }}
            </button>
          </mat-card-actions>

        </mat-card>
      </form>
    </div>
  </div>
</div>
