.full-width {
  width: 100%;
}

.form-style {
  margin-left: 10px;
  margin-right: 10px;
  width: 600px;
  float: left;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}


.currency {
  margin-bottom: 20px;
}
