<div *ngIf="createTenderForm" style="float: right;">
  <pre>{{ createTenderForm.value | json }}</pre>
</div>


<form [formGroup]="createTenderForm" novalidate (ngSubmit)="onSubmit()" style="width: 400px;">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>
        <label>{{ 'CREATE-FORM.FORM_TITLE' | translate }}</label>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <!-- Title -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput required
                   [placeholder]="'CREATE-FORM.TENDER_TITLE' | translate"
                   formControlName="title">
            <mat-error *ngIf="createTenderForm.controls['title'].hasError('required')">
              {{ 'CREATE-FORM.ERROR.TITLE' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Description -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput required
                      [placeholder]="'CREATE-FORM.TENDER_DESCRIPTION' | translate"
                      formControlName="description"></textarea>
            <mat-error *ngIf="createTenderForm.controls['description'].hasError('required')">
              {{ 'CREATE-FORM.ERROR.DESCRIPTION' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Currency -->
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>
              {{ 'CREATE-FORM.CURRENCY' | translate }}
            </mat-label>
            <mat-select formControlName="currency" required>
              <mat-option *ngFor="let currency of currencies" [value]="currency">
                {{ currency.code + ' (' + getLocalCurrencyName(currency) + ')' }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createTenderForm.controls['currency'].hasError('required')">
              {{ 'CREATE-FORM.ERROR.DESCRIPTION' | translate }}
            </mat-error>
            <mat-hint *ngIf="createTenderForm.controls['currency'].value?.code !== 'UAH'">
              {{ 'CREATE-FORM.HINT.CURRENCY' | translate }}
            </mat-hint>
          </mat-form-field>
        </div>
      </div>

      <!-- Expected Value -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="number"
                   maxlength="5"
                   placeholder="Expected Value"
                   formControlName="expectedValue">
            <mat-error *ngIf="createTenderForm.controls['expectedValue'].hasError('required')">
              {{ 'CREATE-FORM.ERROR.EXPECTED_VALUE' | translate }}
            </mat-error>
            <mat-hint align="end"> {{ createTenderForm.controls['currency'].value?.length }} / 5</mat-hint>
          </mat-form-field>
        </div>
        <div class="col">
          {{ createTenderForm.controls['currency'].value.code }}
        </div>
      </div>

      <!-- Show the best bet or not -->
      <div class="row">
        <div class="col">
          <mat-slide-toggle [color]="color" formControlName="isShowBestBet">
            {{ 'CREATE-FORM.IS_SHOW_BEST_BET' | translate }}?
          </mat-slide-toggle>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" formControlName="firstName">
            <mat-error *ngIf="createTenderForm.controls['firstName'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last name" formControlName="lastName">
            <mat-error *ngIf="createTenderForm.controls['lastName'].hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="number"
                   maxlength="5"
                   placeholder="Postal Code"
                   formControlName="postalCode"
                   #postalCode>
            <mat-hint align="end"> {{ postalCode.value.length }} / 5</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="shipping">
            <mat-radio-button value="free">
              Free Shipping
            </mat-radio-button>
            <mat-radio-button value="priority">
              Priority Shipping
            </mat-radio-button>
            <mat-radio-button value="nextday">
              Next Day Shipping
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary">
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</form>
