.timer {
  .status {
    display: inline-block;
    font-size: 12px;
    line-height: 1rem;
    color: grey;
    font-weight: normal;

    .cell-wrapper {
      margin-top: 3px;
      display: inline-block;
      font-size: 14px;
      font-weight: 400;

      .title {
        display: inline-block;
        font-size: 10px;
        color: grey;
        font-weight: normal;
      }

      .counter {
        margin: 0 9px 0 0;
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}

.active {
  color: green;
}

.closed {
  color: #ca0000;
}

.planned {
  color: blueviolet;
}
