.lang-toggle-component {
  font-size: 0.6em;
  font-weight: normal;
}

.mat-form-field {
  margin-top: 20px;
  margin-left: 10px;
  width: 110px;
}

.mat-label {
  font-size: 1.2em;
  color: white;
}
