//@import "src/styles";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.active {
  //color: $warn-bg-color;
  font-weight: bolder;
}

.spacer {
  flex: 1 1 auto;
}
