<mat-sidenav-container class="sidenav-container">
  <mat-sidenav fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               #drawer
               class="sidenav">

    <!-- Vertical menu -->
    <st-vertical-menu></st-vertical-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Header -->
    <mat-toolbar [color]="currentThemePalette">
      <button type="button" mat-icon-button aria-label="Toggle sidenav"
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div>{{ 'APP_TITLE' | translate }}</div>

      <div class="spacer"></div>

      <!-- Login/Logout menu -->
      <mat-nav-list class="list-horizontal">
        <ng-container *ngIf="isUserAuth; else authNeed">
          <st-auth-user-menu></st-auth-user-menu>
        </ng-container>

        <ng-template #authNeed>
          <st-sign-up-menu></st-sign-up-menu>
        </ng-template>
      </mat-nav-list>
    </mat-toolbar>

    <!-- Content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Footer -->
<st-footer></st-footer>
