.full-width {
  width: 100%;
}

.login-form-style {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 100%;
  max-width: 800px;
}

.login-mat-card {
  min-width: 120px;
  margin: 20px auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
}

.col:last-child {
  margin-right: 0;
}
