@import "src/app/shared/styles/variables";

mat-card-content {
  mat-list {
    mat-list-item {
      font-size: $default-font-size;
      color: $main-txt-color;
    }
  }
}

.mat-spinner {
  margin: 10px auto 10px auto;
}
