<!-- Selected Tender -->
<mat-card *ngIf="selectedTender && !loading; else spinner" class="form-style">
  <mat-card-header class="ml-n2">
    <mat-card-title>
      <h1>{{ selectedTender.title }}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      {{ 'VIEW_TENDER.ID' | translate }}:
      {{ selectedTender.id }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col-sm-7 pl-4">
        <!-- Status/Timer -->
        <div class="row align-items-center">
          <div class="col-sm-4 pb-0 pt-3 p-sm-3">
            <strong>{{ 'VIEW_TENDER.STATUS' | translate }}</strong>:
          </div>
          <div class="col-sm-8 p-3">
            <st-timer [tender]="selectedTender"
                      [isLegendShow]="true"
                      (tenderStatusEmitter)="setTenderStatus($event)">
              {{ 'LOADING' | translate }}
            </st-timer>
          </div>
        </div>
        <mat-divider></mat-divider>

        <!-- Duration -->
        <div class="row align-items-center">
          <div class="col-sm-4 pb-0 pt-3 p-sm-3">
            <strong>{{ 'VIEW_TENDER.DURATION' | translate }}</strong>:
          </div>
          <div class="col-sm-8 p-3">
            {{ selectedTender.dateStart | date:TIME_FORMAT_SMALL }} -
            {{ selectedTender.dateEnd | date:TIME_FORMAT_SMALL }}
          </div>
        </div>
        <mat-divider></mat-divider>

        <!-- Description -->
        <div class="row align-items-center">
          <div class="col-sm-4 pb-0 pt-3 p-sm-3">
            <strong>{{ 'VIEW_TENDER.DESCRIPTION' | translate }}</strong>:
          </div>
          <div class="col-sm-8 p-3">
            {{ selectedTender.description }}
          </div>
        </div>
        <mat-divider></mat-divider>

        <!-- The Best Bet -->
        <div class="row align-items-center">
          <div class="col-sm-4 pb-0 pt-3 p-sm-3">
            <strong>{{ 'VIEW_TENDER.BEST_BET' | translate }}</strong>:
          </div>
          <div class="col-sm-8 p-3">
            {{ showBestBet() }}
          </div>
        </div>
        <mat-divider></mat-divider>

        <!-- Number of bets -->
        <div class="row align-items-center">
          <div class="col-sm-4 pb-0 pt-3 p-sm-3">
            <strong>{{ 'VIEW_TENDER.NUMBER_OF_BETS' | translate }}</strong>:
          </div>
          <div class="col-sm-8 p-3">
            <ng-container *ngIf="selectedTender.bets; else noBets">
              {{ selectedTender.bets.length }}
            </ng-container>
            <ng-template #noBets>
              {{ 'VIEW_TENDER.NO_BEST_BET' | translate }}
            </ng-template>
          </div>
        </div>
        <mat-divider></mat-divider>

        <!-- Step value -->
        <div class="row align-items-center">
          <div class="col-sm-4 pb-0 pt-3 p-sm-3">
            <strong>{{ 'VIEW_TENDER.STEP_VALUE' | translate }}</strong>:
          </div>
          <div class="col-sm-8 p-3">
            {{ selectedTender.stepValue + ' ' + selectedTender.currency.code }}
          </div>
        </div>
        <mat-divider></mat-divider>

        <!-- Quantity -->
        <div class="row align-items-center">
          <div class="col-sm-4 pb-0 pt-3 p-sm-3">
            <strong>{{ 'VIEW_TENDER.QUANTITY' | translate }}</strong>:
          </div>
          <div class="col-sm-8 p-3">
            {{ selectedTender.quantity + ' ' + getLocalUnitCode(selectedTender.unit) }}
          </div>
        </div>
        <mat-divider></mat-divider>

        <!-- Company name -->
        <div class="row align-items-center">
          <div class="col-sm-4 pb-0 pt-3 p-sm-3">
            <strong>{{ 'VIEW_TENDER.TENDER_INITIATOR' | translate }}</strong>:
          </div>
          <div class="col-sm-8 p-3">
            {{ selectedTender.user?.displayName }}
          </div>
        </div>
        <mat-divider></mat-divider>

        <!-- Company email -->
        <div class="row align-items-center">
          <div class="col-sm-4 pb-0 pt-3 p-sm-3">
            <strong>{{ 'VIEW_TENDER.CONTACTS' | translate }}</strong>:
          </div>
          <div class="col-sm-8 p-3">
            {{ selectedTender.user?.email }}
          </div>
        </div>
        <mat-divider class="d-sm-none"></mat-divider>
      </div>

      <!-- Place a new bet -->
      <div class="col-sm-5 mt-3 mt-sm-0">
        <ng-container *ngIf="isStatusClosed; else tenderNotCompleted">
          {{ 'BET.TENDER_COMPLETED' | translate }}.
        </ng-container>

        <ng-template #tenderNotCompleted>
          <ng-container *ngIf="isStatusPlanned; else tenderNotPlanned">
            {{ 'BET.TENDER_PLANNED' | translate }}.
          </ng-container>

          <ng-template #tenderNotPlanned>
            <ng-container *ngIf="!isCurrentUserCreatedThisTender; else userCreatedThisTender">
              <st-bet-create>
                {{ 'LOADING' | translate }}.
              </st-bet-create>
            </ng-container>

            <ng-template #userCreatedThisTender>
              {{ 'BET.USER_CREATED_THIS_TENDER' | translate }}.
            </ng-template>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- Information about the bets for initiator of the tender -->
<div *ngIf="isCurrentUserCreatedThisTender
                            && selectedTender.bestBet
                            && selectedTender.bets
                            && selectedTender.bets.length > 0"
     class="bets-block-tittle">

  <!-- The Best bet -->
  <st-best-bet [bestBet]="selectedTender.bestBet"
               [currencyCode]="currencyCode">
  </st-best-bet>

  <!-- Bet table -->
  <st-bet-table [bets]="selectedTender.bets"
                [bestBet]="selectedTender.bestBet"
                [currencyCode]="currencyCode">
  </st-bet-table>
</div>

<!-- Loading... -->
<ng-template #spinner>
  <div class="col">
    <mat-card class="form-style">
      <mat-card-subtitle>
        {{ 'LOADING' | translate }}
        <mat-spinner [color]="currentThemePalette"
                     [diameter]="SPINNER_DIAMETER"
                     [strokeWidth]="SPINNER_STROKE_WIDTH"
                     class="mat-spinner">
        </mat-spinner>
      </mat-card-subtitle>
    </mat-card>
  </div>
</ng-template>
