@import "src/app/shared/styles/variables";

mat-card-content {
  mat-list {
    mat-list-item {
      font-size: $default-font-size;
      color: $main-txt-color;
    }
  }
}

.mat-spinner {
  margin: 10px auto 10px auto;
}

.bets-block-tittle {
  margin: 0 auto 20px auto;
  width: $form-width;
  max-width: $form-max-width;
}

.timer {
  margin-left: 7px;
}
