/* Text color */
$main-txt-color: black;
$mat-sidenav-txt-color: white;

/* Material Snack bar */
$snack-bar-txt-color-default: white;
$snack-bar-txt-color-success: #0bcd0b;
$snack-bar-txt-color-error: #ff7373;
$snack-bar-txt-color-warning: #ffd740;

/* Background color */
$primary-bg-color: #673ab7;
$accent-bg-color: #ffd740;
$warn-bg-color: #f44336;
$success-bg-color: #c0f6c0;

/* Form style */
$form-width: 100%;
$form-max-width: 900px;
$content-margin-bottom: 80px;

/* Table style */
$table-width: 100%;
$table-max-width: 100%;

/* Form size */
$default-font-size: 1.0em;
$footer-font-size: 0.6em;
