<div class="footer-toolbar">
  <mat-toolbar [color]="currentThemePalette">
    <mat-toolbar-row>
      <span>First Line</span>
      <span class="spacer"></span>
      <mat-icon class="icons" aria-hidden="false" aria-label="Example user verified icon">
        verified_user
      </mat-icon>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Second Line</span>
      <span class="spacer"></span>
      <mat-icon class="icons" aria-hidden="false" aria-label="Example heart icon">
        favorite
      </mat-icon>
      <mat-icon class="icons" aria-hidden="false" aria-label="Example delete icon">
        delete
      </mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
