<div class="footer-toolbar">
  <mat-toolbar [color]="currentThemePalette">
    <mat-toolbar-row>
      <div class="footer-txt">
        © 2021
        {{ 'APP_TITLE' | translate }}.
        {{ 'FOOTER.COPYRIGHT' | translate }}
      </div>

      <div class="spacer"></div>

      <mat-nav-list class="list-horizontal">
        <a mat-list-item routerLink="/list" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <mat-icon class="icons" aria-hidden="false" aria-label="Example user verified icon">
            format_list_numbered
          </mat-icon>
          <span class="menu-txt">
            {{ 'MENU.LIST_OF_TENDERS' | translate }}
          </span>
        </a>
        <ng-container *ngIf="isUserAuth">
          <a mat-list-item routerLink="/create" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <mat-icon class="icons" aria-hidden="false" aria-label="Example user verified icon">
              add
            </mat-icon>
            <span class="menu-txt">
            {{ 'MENU.CREATE_NEW_TENDER' | translate }}
          </span>
          </a>
        </ng-container>
      </mat-nav-list>

      <st-language-toggle>Loading...</st-language-toggle>

    </mat-toolbar-row>
  </mat-toolbar>
</div>
