$footer-font-size: 0.6em;

.footer-toolbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.footer-txt {
  font-size: $footer-font-size;
  font-weight: normal;
  font-style: normal;

  a {
    color: unset;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

mat-nav-list.list-horizontal {
  margin-top: 0;
  padding-top: 0;

  a[mat-list-item] {
    display: inline-block;
    height: auto;
    width: auto;
    font-size: $footer-font-size;
    font-weight: normal;
    font-style: normal;
    color: unset;

    mat-icon.icons {
      padding-top: 4px;
      padding-right: 0;
      font-size: 1.2em;
    }

    .menu-txt {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}


.spacer {
  flex: 1 1 auto;
}
