@import "src/app/shared/styles/variables";

.footer-toolbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.footer-txt {
  font-size: $footer-font-size;
  font-weight: normal;
  font-style: normal;

  a {
    color: unset;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
