@import "src/app/shared/styles/variables";

.mat-card {
  margin-bottom: $content-margin-bottom;
}

.loading {
  margin: 0;
  display: inline-block;
  font-size: $default-font-size;
  font-weight: $normal-font-weight;
}

.mat-spinner {
  margin: 0;
  display: inline-block;
}

.best-bet {
  font-weight: $strong-font-weight;
  color: green;
}
