<mat-card *ngIf="bets" class="mat-card">
  <mat-card-title>
    {{ "BET_TABLE.TABLE_TITLE" | translate }}
  </mat-card-title>

  <div class="mat-elevation-z0">
    <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sortData($event)"
           class="full-width-table" aria-label="Bets">

      <!-- Index Column -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>
          {{ "BET_TABLE.INDEX" | translate }}
        </th>
        <td mat-cell *matCellDef="let row; let idx = index;">
          <div [class.best-bet]="isBetTheBest(row)">
            {{ idx + 1 }}
          </div>
        </td>
      </ng-container>

      <!-- Date and time -->
      <ng-container matColumnDef="dateTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "BET_TABLE.DATE_TIME" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">
          <div [class.best-bet]="isBetTheBest(row)">
            {{ row.dateTime | date:TIME_FORMAT_FULL }}
          </div>
        </td>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "BET_TABLE.VALUE" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">
          <div [class.best-bet]="isBetTheBest(row)">
            {{ row.value + ' ' + currencyCode }}
          </div>
        </td>
      </ng-container>

      <!-- Company name -->
      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "BET_TABLE.COMPANY_NAME" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">
          <div [class.best-bet]="isBetTheBest(row)">
            {{ row.user.displayName }}
          </div>
        </td>
      </ng-container>

      <!-- Company email -->
      <ng-container matColumnDef="companyEmail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "BET_TABLE.COMPANY_EMAIL" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">
          <div [class.best-bet]="isBetTheBest(row)">
            {{ row.user.email }}
          </div>
        </td>
      </ng-container>

      <!-- Comment Column -->
      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "BET_TABLE.COMMENT" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">
          <div [class.best-bet]="isBetTheBest(row)"
               [title]="row.comment && row.comment.length > MAX_STR_LENGTH ? row.comment : ''">
            <ng-container *ngIf="row.comment; else noBetComment">
              {{ sliceStrLength(row.comment) }}
            </ng-container>
            <ng-template #noBetComment>
              -
            </ng-template>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data -->
      <tr class="mat-row" *matNoDataRow>
        <td *ngIf="dataSource && dataLength === 0" [attr.colspan]="displayedColumns.length" class="mat-cell">
          {{ "BET_TABLE.NO_BET" | translate }}
        </td>
      </tr>
    </table>
  </div>
</mat-card>
