@import "src/app/shared/styles/variables";

.mat-card {
  margin-bottom: $content-margin-bottom;
}

.full-width-table {
  width: 100%;
}

.loading {
  margin: 0;
  display: inline-block;
  font-size: $default-font-size;
  font-weight: normal;
}

.mat-spinner {
  margin: 0;
  display: inline-block;
}

.best-bet {
  font-weight: bold;
  color: green;
}
