@import "src/app/shared/styles/variables";

.full-width-table {
  width: 100%;
}

.loading {
  margin: 0;
  display: inline-block;
  font-size: 12px;
  font-weight: $normal-font-weight;
}

.mat-spinner {
  margin: 0;
  display: inline-block;
}

.row-pointer {
  cursor: pointer;
}

.timer {
  width: $timer-cell-width;
}
