@import "src/app/shared/styles/variables";

.loading {
  margin: 0;
  display: inline-block;
  font-size: $default-font-size;
  font-weight: $normal-font-weight;
}

.mat-spinner {
  margin: 0;
  display: inline-block;
}

.row-pointer {
  cursor: pointer;
}

.timer {
  width: $timer-cell-width;
}
