@import "src/app/shared/styles/variables";

html, body {
  height: 100%;
}

body {
  margin: 0;
  color: $main-txt-color;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}

.form-style {
  margin: 20px auto 60px auto;
  width: 100%;
  max-width: 800px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
}

*[matPrefix] {
  margin-right: 3px;
}

.snack-bar-default {
  color: $snack-bar-txt-color-default;
}

.snack-bar-success {
  color: $snack-bar-txt-color-success;
}

.snack-bar-error {
  color: $snack-bar-txt-color-error;
}

.snack-bar-warning {
  color: $snack-bar-txt-color-warning;
}
