@import "src/app/shared/styles/variables";

html, body {
  height: 100%;
}

body {
  margin: 0;
  color: $main-txt-color;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}

.form-style {
  margin: 20px auto $content-margin-bottom auto;
  width: $form-width;
  max-width: $form-max-width;
}

.table-style {
  margin: 20px auto $content-margin-bottom auto;
  width: $table-max-width;
  max-width: $table-max-width;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
}

.spacer {
  flex: 1 1 auto;
}

*[matPrefix] {
  margin-right: 3px;
}

mat-nav-list.list-horizontal {
  margin-top: 0;
  padding-top: 0;

  a[mat-list-item] {
    display: inline-block;
    height: auto;
    width: auto;
    font-size: $footer-font-size;
    font-weight: normal;
    font-style: normal;
    color: unset;

    mat-icon.icons {
      margin-right: -5px;
      padding-top: 4px;
      padding-right: 0;
      font-size: 1.2em;
    }

    .menu-txt {
      display: inline-block;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.snack-bar-default {
  color: $snack-bar-txt-color-default;
}

.snack-bar-success {
  color: $snack-bar-txt-color-success;
}

.snack-bar-error {
  color: $snack-bar-txt-color-error;
}

.snack-bar-warning {
  color: $snack-bar-txt-color-warning;
}

.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0 !important;
}
