<mat-form-field>
  <mat-label>Message</mat-label>
  <input matInput value="Disco party!" #message>
</mat-form-field>

<mat-form-field>
  <mat-label>Action</mat-label>
  <input matInput value="Закрыть" #action>
</mat-form-field>

<mat-form-field>
  <mat-label>Horizontal position</mat-label>
  <mat-select [(value)]="horizontalPosition">
    <mat-option value="start">Start</mat-option>
    <mat-option value="center">Center</mat-option>
    <mat-option value="end">End</mat-option>
    <mat-option value="left">Left</mat-option>
    <mat-option value="right">Right</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Vertical position</mat-label>
  <mat-select [(value)]="verticalPosition">
    <mat-option value="top">Top</mat-option>
    <mat-option value="bottom">Bottom</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>{{ 'SNACK-BAR.DURATION.BUTTON.TITLE' | translate }}</mat-label>
  <mat-select [(value)]="duration">
    <mat-option value="2000">2000</mat-option>
    <mat-option value="3000">3000</mat-option>
    <mat-option value="5000">5000</mat-option>
    <mat-option value="7000">7000</mat-option>
  </mat-select>
</mat-form-field>

<button mat-raised-button color="accent" (click)="openSnackBar(message.value, action.value)">
  {{ 'SNACK-BAR.BUTTON.TITLE' | translate }}
</button>

